@import url('http://fonts.cdnfonts.com/css/seven-segment');
body {
    margin: 0;
    font-family: sans-serif;
}
/*----------------------------------------------- this is to give a paralax effects
*/ 
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}


.m1 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-5px) scale(1.7);
    top: 20%;
}
.m2 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
    top: 30%;
}
.m3 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-15px) scale(2.5);
    top: 30%;
}
.m4 {
    position: absolute;
    height: 80%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-20px) scale(3);
    top: 40%;
}

.logo {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-4px) scale(1);
    top: 50%;
    border-radius: 50px;
    border: 2px solid black;
}

/*-------------------------------------------------------------------*/

.title{
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;
    

}
section{
    font-size: 2rem;
    padding: 2rem;
    background-color: #f85f56;
    color: white;
}
.container {
    font-size: 2rem;
    padding: 2rem;
    background-color: #f85f56;
    color: white;
    box-sizing: border-box;
}
.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
} 
.col-80 {
    float: left;
    width: 80%;
    margin-top: 6px;
} 
label {
    padding: 12px 12px 12px 0;
}

textarea {
    font-size: 15px;
    padding: 12px;
    border: 1px solid #008cba;
    border-radius: 5px;
    resize: vertical;
    width: 90%;
    font-family: sans-serif;
}
input[type=text] {
    font-size: 20px;
    border: none;
    background-color: #f85f56;
    border-bottom: 2px solid red;
    color: white;
    transition: width 0.4s ease-in-out;
    font-family: sans-serif;
}
input[type=text]:focus {
    width: 90%;
}

button {
    transition-duration: 0.4s;
    background-color: #f51e13;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    border-radius: 5px;
    color: white;
    width: 20%;
    font-family: 'Seven Segment', sans-serif;
    
}
button:hover {
    background-color: cyan;
    color: cadetblue;
    cursor: pointer;
}
#valueInput {
    background-color: #f85f56;
    padding: 2rem;
    border-radius: 10px;
}
#valueResult {
    background-color: #f85f56;
    padding: 2rem;
    border-radius: 10px;
}


@media screen and (max-width: 600px) {
    .col-20, .col-80 {
      width: 100%;
      margin-top: 0;
    }
  }

footer {
    padding: 20px;
    color: white;
    background-color: #021a3b;
    text-align: center;
    font-weight: bold;
}